# This is a working NGiNX config to get the rewrites working
# PHP FPM 7.4 and NGiNX 1.18
# Add this config to your /etc/nginx/sites-enabled/ folder named as your FQDN or IP

server {
    listen 80;
    server_name REPLACE_WITH_YOUR_FQDN_OR_IP;

    rewrite ^/$ /about.php last;
    rewrite ^/section-.*$ /collectResponses.php last;
    rewrite ^/results.*$ /viewResults.php last;
    rewrite ^/about$ /about.php last;
    rewrite ^/resources$ /viewResources.php last;

    root /var/www/assessment.designed4devops.com;

    index about.php;

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php/php7.4-fpm.sock;
     }

    location ~ /\.ht {
        deny all;
    }

}
